<html>
  <head>
    <title>Configure the Janrain Engage Plugin</title>
  </head>
  	<body>
	    <div style="background: #FFFFFF">
    		<!-- The ActionRPXConfig doValidation method and then doExecute
        		 method will be called -->
      		<form id="rpx_config" method="post" action="${req.contextPath}/secure/RPXConfigAction.jspa">
      		<table class="jiraform maxWidth">
        		<tr>
          			<td class="jiraformheader">
            			<h3 class="formtitle">Janrain Engage Configuration</h3>
          			</td>
        		</tr>

				#foreach ($error in $action.getErrorMessages())
  				<tr>
    				<td>
    					<span style="margin: 2px; border: 1px solid red; background: pink;">${error}</span>
    				</td>
  				</tr>
				#end    

				#if ($action.getApiKey())
				<tr>
    				<td>
    					<span style="margin: 2px; border: 1px solid yellow; background: lightYellow;">Current API Key: ${action.getApiKey()}</span>
    				</td>
  				</tr>
				#end

		        <tr>
		          <td class="jiraformbody">
			          Please enter your API key to configure the Janrain Engage Plugin.
		          </td>
		        </tr>   

		        <tr>
		        	<td class="fieldValueArea">
						## Note: ${myfirstparameter} is the same as $action.getMyfirstparameter()
						## It's important to encode the inputs to avoid XSS hacks
						## JSP does this for you but Velocity templates don't.
						<input type="text"
						         id="id_apiKey" 
						    	 name="apiKey"
						         value=""
						         size="60"
						         />
						<br>
						<!-- <font size="1">An example of a text parameter.</font> --> 
			    	</td>
		        </tr>  
		        <tr>
		        	<td class="fieldValueArea">
				        <input type="submit" name="Submit" id="Submit" value="Save"
			                     accesskey="S"
			                     title="Press Ctrl+S to submit form"
			                     class="spaced"
			                     />
		        	</td> 
		       	</tr>
    
				#if ($action.getApiKey())
				<tr>
					<td>
						<a href="./RPXConfigAction.jspa?action=cancel">Cancel</a>
					</td>
				</tr>
				#end
			</table> 
			</form>
		</div>
      	<br>      
	</body>
</html>