<html>
  <head>
    <title>Action Alpha Success</title>
  </head>
  
  <body>

    <div style="background: #FFFFFF">
      <table class="jiraform maxWidth">
        <tr>
          <td class="jiraformheader">
            <h3 class="formtitle">SUCCESS!</h3>
          </td>
        </tr>
        <tr>
          <td class="jiraformbody">
          Please enter your API key to configure RPX.
          </td>
        </tr>   

        <tr>
          <td class="jiraformbody">
          The raw current parameter value is: 
          </td>
        </tr>   
      </table>  
      <br>      
	<a href="reconfigure">Reconfigure</a>
  </body>
</html>