<html>
  <head>
    <title>Action Alpha Success</title>
  </head>
  
  <body>

    <div style="background: #FFFFFF">
      <table class="jiraform maxWidth">
        <tr>
          <td class="jiraformheader">
            <h3 class="formtitle">SUCCESS!</h3>
          </td>
        </tr>
       #if ($action.getApiKey())
  <tr>
    <td>Your current API Key is ${action.getApiKey()}</td>
  </tr>
#end

  <tr>
    <td><a href="./RPXConfigAction.jspa?action=reconfigure">Reconfigure</a></td>
  </tr>
      </table>  
      <br>      
  </body>
</html>